
.button-to-top {
  width: 20%;
  overflow:auto;
  position: fixed;
  right:    2%;
  bottom:   2%;
}

.button-giver{
  width: 20%;
  overflow:auto;
  position: fixed;
  right:    40%;
  bottom:   2%;
}