/* Provide sufficient contrast against white background */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');


a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
