div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    max-width: 70em;
    background-color: rgb(224, 243, 244);
    padding: 15px;
    color: rgba(0, 0, 0, 0.54);
    margin: auto;
}

h3 {
    color: #49a591;
}

svg {
    margin: auto;
    display: block;
}